stow/tmux/.tmux/plugins/
stow/vim/.vim/plugged/

/config/yazi/plugins/
/config/yazi/flavors/

/.backups/
/.manifests/
*.swp
*.DS_Store

# Archivos locales para secretos y personalización
*_local
.*_local

# runtime state
.backups/
.manifests/
