:root {
  --joplin-background-color: #1e1e2e;
  --joplin-background-color2: #181825;
  --joplin-color: #cdd6f4;
  --joplin-color-faded: #a6adc8;
  --joplin-color-bright: #ffffff;
  --joplin-color-error: #f38ba8;
  --joplin-color-warning: #f9e2af;
  --joplin-color-info: #89b4fa;
  --joplin-color-success: #a6e3a1;
}

* {
  font-family: "MesloLGLDZ Nerd Font";
}

.sidebar, .note-list, .header {
  background-color: #1e1e2e !important;
  color: #cdd6f4 !important;
}

.header a, .header .title {
  color: #cdd6f4 !important;
}

.note-list-item, .list-item {
  background-color: #1e1e2e !important;
  color: #cdd6f4 !important;
}

.list-item.selected, .note-list-item.selected {
  background-color: #313244 !important;
}
