:root {
  --background-primary: #1e1e2e;
  --background-secondary: #181825;
  --text-normal: #cdd6f4;
  --text-muted: #a6adc8;
  --interactive-accent: #89b4fa;
}

body {
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-family: "MesloLGLDZ Nerd Font";
}

a {
  color: #89b4fa;
}
